* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#allpage {
    margin: auto;
    width: 800px;
}

.menu {
    width: 100%;
    background-color: #555555;
    overflow: hidden;
    list-style-type: none;
}

    .menu li {
        float: left;
    }

        .menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px;
            text-decoration: none;
        }

            .menu li a:hover {
                background-color: #AAAAAA;
            }

            .menu li a:active {
                background-color: #DDDDDD;
                color: #333333;
            }

header {
    margin: 10px 0px;
}

.main1 {
    margin: auto;
    margin-top: 50px;
}

.title1 {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #DDDDDD;
    margin: 20px;
}
